@page "/listado-animales"
@inject HttpClient Http
@using Components;



<PageTitle>Animales</PageTitle>

<h1>Animales</h1>

<p>Listado de animales en existencia.</p>


<Final.Components.ListadoAnimal></Final.Components.ListadoAnimal>
