@page "/listado-aves"
@inject HttpClient Http
@using Components;



<PageTitle>Aves</PageTitle>

<h1>Automoviles</h1>

<p>Listado de aves en existencia.</p>


<Final.Components.ListadoAve></Final.Components.ListadoAve>