@page "/listado-gatos"
@inject HttpClient Http
@using Components;



<PageTitle>Gatos</PageTitle>

<h1>Gatos</h1>

<p>Listado de gatos en existencia.</p>


<Final.Components.ListadoGato></Final.Components.ListadoGato>
