@page "/listado-perros"
@inject HttpClient Http
@using Components;



<PageTitle>Perros</PageTitle>

<h1>Perros</h1>

<p>Listado de perros en existencia.</p>


<Final.Components.LIstadoPerro></Final.Components.LIstadoPerro>